/* Button styles */
button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
}
  
button:hover {
  background-color: #45a049;
}
  
/* Remove button styles */
button#removeButton {
  margin-right: 5px;
  height: 34px;
  background-color: #da3232;
}
  
  /* Remove button styles */
button#removeButton:hover {
  margin-right: 5px;
  height: 34px;
  background-color: #c53232;
}
  
  /* Remove button styles */
button#removeButton:disabled {
  background-color: #dcdcdc;
}
  
  /* Complete button styles */
button#completeButton {
  margin-right: 5px;
  height: 34px;
}
  
  /* Disabled button styles */
button:disabled {
  background-color: #dcdcdc;
  color: #a0a0a0;
  cursor: not-allowed;
}

#itemButton, #mealButton {
  width: 70vw;
  padding: 2vw;
  
  margin-bottom: 2vw;
}
  
.navButton {
  margin-bottom: 3.2vh;
}
  
.navButton > a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 1.5vh 2vw;
  width: 71vw;
  background-color: #7d7d7d;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}
  
.navButton > a:hover {
  background-color: #aaa;
}