/* Button styles */
#Laura {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f38bae;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-left: auto;
  margin-right: 5px;
}

#George {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff995e;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-left: auto;
  margin-right: 5px;
}

#Both {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #29bd91;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-left: auto;
  margin-right: 5px;
}

/* Style for the lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Style for the confirmation box within the lightbox */
.confirmation-box {
  background: white;
  padding: 20px;
  text-align: center;
}

/* Style for the "Confirm" and "Cancel" buttons */
.confirmation-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.choreSelector {
  width: 300px;
  margin-bottom: 10px;
  margin-right: 5px;
}

#choreInput {
  width:280px;
}