/* Reset some default styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

/* Heading styles */
h2 {
  color: #333;
}

/* Text input styles */
input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

/* Select styles */
select {
  padding: 8px;
  font-size: 16px;
}

/* Button styles */
button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: #45a049;
}

/* Unordered list styles */
ul {
  list-style-type: none;
  padding: 0;
}

/* List item styles */
li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Remove button styles */
button#removeButton {
  margin-right: 5px;
  height: 34px;
  background-color: #da3232;
}

/* Remove button styles */
button#removeButton:hover {
  margin-right: 5px;
  height: 34px;
  background-color: #c53232;
}

/* Remove button styles */
button#removeButton:disabled {
  background-color: #dcdcdc;
}

/* Complete button styles */
button#completeButton {
  margin-right: 5px;
  height: 34px;
}

/* Disabled button styles */
button:disabled {
  background-color: #dcdcdc;
  color: #a0a0a0;
  cursor: not-allowed;
}

#itemInput {
  width:280px;
}

/**
 * Right-hand side widget styles
 */
#clock, #weatherInfo {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#weatherHeader {
  margin-top: 0px;
}

#time {
  font-size: 2em;
  font-weight: bold;
  color: #333; /* Match the heading color */
}

#date, #weatherUpdated {
  font-size: 1.2em;
  color: #2f83bf; /* You can adjust the color based on your preference */
}

/* Media query for landscape mode */
@media screen and (min-width: 768px) {
  #itemList {
    width: 65%; /* Adjust the width based on your preference */
    float: left;
    margin-top: 1%;
  }

  #widgetsRight {
    width: 30%; /* Adjust the width based on your preference */
    float: left;
    margin: 1%;
  }
  
  #inputField {
    display: none;
  }

  #navbar {
    display: none;
  }
}

/* Media query for vertical display */
@media screen and (max-width: 767px) {
  #itemList {
    width: 100%;
    float: none;
  }

  #widgetsRight {
    display: none;
  }
  
  /* Navbar styles */
  #navbar {
    background-color: #aaa;
    overflow: hidden;
    border-radius: 25px;
  }

  /* Navbar link styles */
  #navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
  }

  #navbar a:hover {
    background-color: #e3e3e3;
    color: black;
  }
}