#gridContainer {
    display: grid;
}

#gridNav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

#gridHeader {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

#gridInput {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

#gridContent {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

#gridWidgets {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

@media screen and (min-width: 768px) { /* Landscape */
    #gridHeader {
        display: block;
        width: 96vw;
        padding: 2vw;
    }

    #gridNav {
        width: 0vw;
        padding: 0;
    }
    
    #gridContent {
        width: 56vw;
        padding: 2vw;
    }

    #gridWidgets {
        width: 36vw;
        padding: 2vw;
    }

    #gridInput {
        padding: 0;
    }
}

@media screen and (max-width: 767px) { /* Portrait */
    #gridHeader {
        display: none;
        width: 0vw;
        padding: 0;
    }

    #gridNav {
        width: 96vw;
        padding: 2vw;
    }
    
    #gridContent {
        width: 96vw;
        padding: 2vw;
    }

    #gridWidgets {
        width: 0vw;
        padding: 0;
    }

    #gridInput {
        padding: 2vw;
    }
}