body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

h2 {
  color: #333;
}

div {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.remove-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 8px;
  margin-left: 10px;
  cursor: pointer;
}

button.remove-button:hover {
  background-color: #c0392b;
}

button:disabled {
  background-color: #dcdcdc; /* Light grey background */
  color: #a0a0a0; /* Grey text color */
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */
}
