.indexMenuItem {
    margin-bottom: 3.2vh;
}

.indexMenuItem > a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 2vh 3vw;
    width: 50vw;
    background-color: #aaa;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}

.indexMenuItem > a:hover {
    background-color: #e3e3e3;
    color: black;
}

#headerBar {
    margin-bottom: 5vw;
}

#gridHeader {
    display: block;
    width: 96vw;
    padding: 2vw;
}