#mealPlanTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

#mealPlanTable th, #mealPlanTable td {
  padding: 12px;
  text-align: left;
}

#mealPlanTable th {
  background-color: #fbfbfb;
}

#mealPlanTable tbody tr:hover {
  background-color: #f5f5f5;
}

#mealPlanTable td[id^="monday"],
#mealPlanTable td[id^="tuesday"],
#mealPlanTable td[id^="wednesday"],
#mealPlanTable td[id^="thursday"],
#mealPlanTable td[id^="friday"],
#mealPlanTable td[id^="saturday"],
#mealPlanTable td[id^="sunday"] {
  font-weight: bold;
  color: #2f83bf; /* or your preferred color */
}

#mealPlanTable th,
#mealPlanTable td {
  border: none;
  border-bottom: 1px solid #ddd; /* Add a bottom border to separate rows */
}

#mealPlanTable th:last-child,
#mealPlanTable td:last-child {
  border-right: none; /* Remove right border for the last column */
}

#itemList {
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mealSelector {
  width: 300px;
  margin-bottom: 10px;
  margin-right: 5px;
}

#mealInput {
  width:280px;
}